
{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" href="/static/css/about.css">
{% endblock %}

{% block content %}    
<div class="movie-screen">
    <h1 class="display-5">Vidly Rentals!</h1>
    <h3 class="display-5">My name is Terri</h3>
    <p>Welcome to my page. I hope you enjoy my personal collection.</p>
    <p>Please take some time to browse this eclectic range of movies.</p>
<div>
    <p class="p1">CONTACT US:</p>
    <p class="p2">VIDLY SUPERSTORE</p>
    <p>3611 Cypress Street, Ste B</p>
    <p>West Monroe, LA 71291</p>
    <p>318-396-0999</p>
</div>
</div>
{% endblock %}

